---
inputs:
- name: scripts
- name: project-data
outputs:
- name: results
platform: linux
image_resource:
  type: docker-image
  source:
    repository: owasp/zap2docker-stable
run:
  path: ./scripts/tasks/run-zap/task.sh
